@charset "UTF=8";

/* 共通部分 */
html {
    font-size: 62.5%; 
}

body {
    font-family: "游明朝体", "Academy Engraved LET";
    line-height: 1.7;
    color: #9c9ca1;
    background-color: #f5efea;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* トップ画像 */
.top-image {
    background-image: url('../images/esthe-top.jpg');
    min-height: 100vh;
}

/* 画像内のキャッチコピー */
.top-message {
    position: absolute;
    top: 316px;
    left: 778px;
    font-size: 36px;
    color: #fff;
}

/* ナビゲーション */
.main-nav {
    display: flex;
    font-size: 1.6rem;
    text-transform: lowercase;
    margin-top: 45px;
    list-style: none;
}

.main-nav li {
    margin-left: 60px;
}

.main-nav a {
    color: #9c9ca1;
}

.main-nav a:hover {
    color: #b5b5bb;
}

.page-header {
    display: flex;
    justify-content: space-between;
    background: url('../images/navigation.png');
}

.wrapper {
    margin: 0 auto;
    padding: 0 4%;
}

/* ロゴ */
h1 {
    margin-top: 15px;
}

/* コンセプト */
.second-content {
    position: relative;
}

.second-topic {
    background-image: url('../images/consept.png');
    background-position: top 60% right;
    min-height: 100vh;
}

.consept {
    margin-top: 120px;
}

.consept h2 {
    position: absolute;
    font-size: 54px;
    top: 230px;
    left: 340px;
}

.consept p {
    position: absolute;
    text-align: center;
    font-size: 20px;
    top: 400px;
    left: 185px;
}

/* フェイシャル */
.third-content {
    position: relative;
}

.third-topic {
    background-image: url('../images/faicial.png');
    background-position: top 100% left;
    min-height: 100vh;
}

.facial {
    margin-top: 120px;
}

.facial h2 {
    position: absolute;
    font-size: 54px;
    top: 230px;
    right: 480px;
}

.facial p {
    position: absolute;
    font-size: 20px;
    top: 340px;
    right: 445px;
}

.facial li {
    position: absolute;
    font-size: 20px;
    top: 390px;
    right: 225px;
    list-style: none;
    line-height: 45px;

}

.facial-menu-btn {
    position: absolute;
    width: 350px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    padding: 15px 95px;
    background-color: #c57d86;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    top: 600px;
    right: 270px;
}

.third-menu {
    position: absolute;
    top: 10px;
    right: 95px;
}

/* ボディ */
.fourth-content {
    position: relative;
}

.fourth-topic {
    background-image: url('../images/body.png');
    background-position: top 100% right;
    min-height: 100vh;
}

.bodycare {
    margin-top: 120px;
}

.bodycare h2 {
    position: absolute;
    font-size: 54px;
    top: 230px;
    left: 300px;
}

.bodycare p {
    position: absolute;
    font-size: 20px;
    top: 340px;
    left: 280px;
}

.bodycare li {
    position: absolute;
    font-size: 20px;
    top: 390px;
    left: 280px;
    list-style: none;
    line-height: 45px;

}

.bodycare-menu-btn {
    position: absolute;
    width: 350px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    padding: 15px 95px;
    background-color: #c57d86;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    top: 600px;
    left: 280px;
}

.fourth-menu {
    position: absolute;
    top: 10px;
    right: 95px;
}

/* インフォメーション */
table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 600px;
    /* table-layout: fixed; */
    color: #9c9ca1;
}

table tr {
    padding: .35em;
    border-bottom: 1px solid #9c9ca1;
}

table tr:last-child{
    border-bottom: 1px solid #9c9ca1;
}

table th {
    font-size: 18px;
    padding: 30px 120px 15px 30px;
    text-align: left;
}

table td {
    padding: 30px 5px 1em 1em;
}

tbody th {
    color: #9c9ca1;
}

.txt{
    text-align: left;
    font-size: 18px;
}

.table-adjust {
    font-size: 17px;
}


/* スマホ用テーブルタグCSS */
/* @media screen and (max-width: 600px) {
    table {
    border: 0;
    width:100%
    }

    table th{
    display: block;
    border-right: none;
    border-bottom: 2px solid #0f7d13;
    padding-bottom: .6em;
    margin-bottom: .6em;
    }

    table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    }
    
    table tr {
    display: block;
    margin-bottom: 2em;
    border-bottom: 2px solid #0f7d13;
    }
    
    table td {
    border-bottom: 1px solid #bbb;
    display: block;
    font-size: .8em;
    text-align: right;
    position: relative;
    padding: .625em .625em .625em 4em;
    border-right: none;
    }
    
    table td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 10px;
    }
    
    table td:last-child {
    border-bottom: 0;
    }
} */

.salon-image {
    float: left;
    margin-left: 120px;
    margin-top: 30px;
}

.salon-detail {
    float: right;
    margin-right: 120px;
}

.infomation {
    text-align: center;
    font-size: 72px;
    margin-top: 240px;
    margin-bottom: 100px;
}

/* リンクバナー */
.sixth-content {
	text-align: center;
}

.sixth-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.sixth-content li a {
	display: block;
	padding: 12px;
}

.banner-first img {
    margin: 180px 25px 100px;
}

.banner-menu img {
    margin: 180px 25px 100px;
}

.banner-QA img {
    margin: 180px 25px 100px;
}

/* フッター */
footer {
    background-color: #e2beba;
    width: 100%;
    height: 450px;
    color: #fff;
}

.footer-shopname {
    float: left;
    font-size: 25px;
    margin-top: 60px;
    margin-left: 666px;
} 

.sns-link {
    float: right;
    margin-top: 50px;
    margin-right: 80px;
}

.link-instagram {
    margin-right: 50px;
}

.footer-nav {
	text-align: center;
}

.footer-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 20px;
}

.footer-nav li a {
	display: block;
	padding: 50px 35px 60px;
    color: #fff;
}

.footer-tel-btn {
    width: 400px;
    height: 100px;
    font-size: 22px;
    text-align: center;
    padding: 30px 80px;
    background-color: #c57d86;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    float: left;
    margin-left: 210px;
}


.footer-web-btn {
    width: 400px;
    height: 100px;
    font-size: 22px;
    text-align: center;
    padding: 30px 80px;
    background-color: #c57d86;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    float: right;
    margin-right: 210px;
}

.copyright {
    font-size: 14px;
    margin-top: 160px;
    text-align: center;
}